body {
    background-color: rgb(252, 231, 203);
    background-image:url(ultimato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
h1 {
    color:#fff;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom:10px;
    border: 2px solid;
    border-radius:10px;
    padding-top: 10px;
    padding-bottom:10PX ;
    padding-RIGHT: 100px;
    padding-left:100PX ;
    TEXT-ALIGN:CENTER;
  }
h2 {
  color:white;
}
img {
  border-radius: 10PX;
  border-bottom: 5PX;
  border-top: 5PX;
  border-right: 5px;
  border-left: 5px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom:10px;
  position:static
}

p{
  color:white;
}
label {
  color:white;
  border:10px
}
nav{
  list-style: none;
  display:flex;
  gap:550px;
  color:white;
  width: 50px;
  height:40px;
}